.git-logo {
  max-width: 12%;
}

.card-img {
  border-radius: 100%;
}

.search-bar-container {
  widows: 70%;
}

.max-lines {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}
